.curent-episode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 680px;
  text-align: center;
  padding: 96px 16px;
}
.curent-episode > * {
  margin-bottom: 39px;
}
.curent-episode .curent-episode__audio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 680px;
  margin-bottom: 39px;
  min-width: 145px;
}
.curent-episode .curent-episode__audio > h6 {
  color: #555555;
  transform: translateY(8%);
}
.curent-episode .curent-episode__audio .audio-progress-bar {
  margin: 0 8px;
  width: 100%;
  position: relative;
}
.curent-episode .curent-episode__audio .audio-progress-bar input[type=range] {
  appearance: none;
  width: 100%;
  border-radius: 2px;
  height: 7px;
  cursor: pointer;
  background: #F5F5F7;
}
.curent-episode .curent-episode__audio .audio-progress-bar input[type=range]::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 7px;
  width: var(--progress-width, 0);
  border-radius: 2px;
  background: #222222;
}
.curent-episode .curent-episode__audio .audio-progress-bar input[type=range]::-webkit-slider-runnable-track {
  height: 7px;
  border-radius: 2px;
  background: #F5F5F7;
}
.curent-episode .curent-episode__audio .audio-progress-bar input[type=range]::-webkit-slider-thumb {
  appearance: none;
  border: none;
  height: 0;
  width: 0;
}
.curent-episode .curent-episode__audio .audio-progress-bar input[type=range]::-moz-range-thumb {
  appearance: none;
  border: none;
  height: 0;
  width: 0;
}
.curent-episode .curent-episode__audio .audio-progress-bar input[type=range]::-ms-thumb {
  appearance: none;
  border: none;
  height: 0;
  width: 0;
}
.curent-episode .curent-episode__audio .audio-progress-bar input[type=range]:focus {
  outline: none;
}
.curent-episode .curent-episode__audio .audio-progress-bar input[type=range]:focus::-webkit-slider-runnable-track {
  height: 7px;
  border-radius: 2px;
  background: #F5F5F7;
}
.curent-episode .curent-episode__audio .audio-progress-bar input[type=range]:focus::-moz-range-track {
  height: 7px;
  border-radius: 2px;
  background: #F5F5F7;
}
.curent-episode .curent-episode__audio .audio-progress-bar input[type=range]:focus::-ms-fill-lower {
  height: 7px;
  border-radius: 2px;
  background: #F5F5F7;
}
.curent-episode .curent-episode__audio .audio-progress-bar input[type=range]:focus::-ms-fill-upper {
  height: 7px;
  border-radius: 2px;
  background: #F5F5F7;
}
.curent-episode .curent-episode__audio .audio-play-button {
  margin-right: 12px;
  width: 14px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
.curent-episode .curent-episode__audio .audio-volume-button {
  margin: 0 12px;
}
.curent-episode .curent-episode__audio .audio-button__image {
  width: 16px;
  height: 16px;
}
.curent-episode .curent-episode__link-title {
  margin-bottom: 12px;
}

.curent-episode__image {
  width: 180px;
  height: 180px;
  border-radius: 4px;
}

@media (max-width: 767.98px) {
  .curent-episode {
    padding: 48px 16px;
  }
}

/*# sourceMappingURL=AudioPlayer.css.map */
