$color: #555555;
$dark_color: #222222;
$dark_color_hover: #3b3b3b;
$special_background_color: #F5F5F7;
$background_color: #FFF;

.curent-episode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 680px;
  text-align: center;
  padding: 96px 16px ;
  > * {
    margin-bottom: 39px;
  }

  .curent-episode__audio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 680px;
    margin-bottom: 39px;
    min-width: 145px;

    > h6 {
      color: $color;
      transform: translateY(8%)
    }

    .audio-progress-bar{
      margin: 0 8px;
      width: 100%;
      position: relative;

      input[type="range"]{
        appearance: none;
        width: 100%;
        border-radius: 2px;
        height: 7px;
        cursor: pointer;
        background: $special_background_color;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          height: 7px;
          width: var(--progress-width, 0);
          border-radius: 2px;
          background: $dark_color;
        }

        &::-webkit-slider-runnable-track {
          height: 7px;
          border-radius: 2px;
          background: $special_background_color;
        }

        &::-webkit-slider-thumb{
          appearance: none;
          border: none;
          height: 0;
          width: 0;
        }

        &::-moz-range-thumb{
          appearance: none;
          border: none;
          height: 0;
          width: 0;
        }

        &::-ms-thumb {
          appearance: none;
          border: none;
          height: 0;
          width: 0;
        }

        &:focus {
          outline: none;
        }

        &:focus::-webkit-slider-runnable-track{
          height: 7px;
          border-radius: 2px;
          background: $special_background_color;
        }
        &:focus::-moz-range-track{
          height: 7px;
          border-radius: 2px;
          background: $special_background_color;
        }
        &:focus::-ms-fill-lower{
          height: 7px;
          border-radius: 2px;
          background: $special_background_color;
        }
        &:focus::-ms-fill-upper {
          height: 7px;
          border-radius: 2px;
          background: $special_background_color;
        }

      }
    }

    .audio-play-button {
      margin-right: 12px;
      width: 14px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.5s ease-in-out;
    }

    .audio-volume-button {
      margin: 0 12px;
    }

    .audio-button__image {
      width: 16px;
      height: 16px;
    }
  }

  .curent-episode__link-title {
    margin-bottom: 12px;
  }
}

.curent-episode__image {
  width: 180px;
  height: 180px;
  border-radius: 4px;
}

@media (max-width: 767.98px) {
  .curent-episode {
    padding: 48px 16px;
  }
}