$color: #555555;
$color_hover: #818181;
$light_color: #979797;
$light_color_hover: #d0d0d0;
$dark_color: #222222;
$dark_color_hover: #3b3b3b;
$special_color: #7247CA;
$special_color_hover: #a079ef;
$background_color: #FFF;
$special_background_color: #F5F5F7;
$decor_color: #EAEAEE;