@import "colors.scss";

body {
  background: $background_color;
  color: $color;
  font-family: 'Source Serif Pro', serif;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
  position: relative
}

.border {
    margin: 0 auto;
    width: 100%;
    max-width: 712px;
    padding: 0 16px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 64px;
  padding-top: 96px;
  padding-bottom: 64px;
}

@media (max-width: 767.98px) {
  .page{
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.button {
  width: 100px;
  height: 30px;
  border-radius: 3px;
  background-color: $special_color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: $special_background_color;
  cursor: pointer;

  .button_text {
    color: $special_background_color;
    font-size: 14px;
    font-weight: 400;
  }
  .simple-arrow {
    font-size: 14px;
  }

  &, .button_text, .simple-arrow {
    transition: all 0.2s ease-in-out;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  &:hover {
    background-color: $special_background_color;
    color: $special_color;
    .button_text {
      color: $special_color;
    }
    .simple-arrow {
      color: $special_color;
      transform: translateX(5px);
    }
  }

  &:active {
    transform: scale(0.95);
  }
}

.white_button {

  background-color: $special_background_color;
  color: $special_color;

  .button_text {
    color: $special_color;
  }
  &:hover {
    background-color: $special_color;
    color: $special_background_color;
    .button_text {
      color: $special_background_color;
    }
    .simple-arrow {
      color: $special_background_color;
    }
  }
}

/*==================================================================*/

h1, h2, h3, h4, h5, h6 {
  color: $dark_color;
  font-weight: 600;
  line-height: 1.25;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 21px;
  line-height: 1.2
}
h3 {
  font-size: 18px;
  font-weight: 400;
}
h4 {
  color: $color;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.55
}
h5 {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}
h6 {
  font-size: 12px;
  letter-spacing: 1.92px;
  text-transform: uppercase;
}
p {
  color: $color;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.55
}
li {
  color: $color;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.55
}

img {
  object-fit: cover;
  pointer-events: none;
}

/*==================================================================*/

::-webkit-scrollbar {
  width: 15px
}

::-webkit-scrollbar-track {
  background-color: $background_color;
}
::-webkit-scrollbar-thumb {
  background-color: $light_color;
  border: 3px solid $background_color;
  border-radius: 6px;
}
