$dark_color: #222222;
$dark_color_hover: #3b3b3b;
$light_color: #979797;
$light_color_hover: #d0d0d0;
$special_background_color: #F5F5F7;
$special_color: #7247CA;
$special_color_hover: #a079ef;

.latest-posts {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 25px;

  .img {
    width: 180px;
    height: 180px;
    border-radius: 4px;
  }

  .latest-posts__item {
    > div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 39px;
      row-gap: 16px;


      .latest-posts__info {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 288px;

        .latest-posts__date {
          color: $light_color;
        }

        .latest-posts__more{
          margin-top: 23px;
          font-weight: 600;
          color: $special_color;
        }
        @media (max-width: 538.98px) {
          .latest-posts__more{
            margin-top: 0;
          }
        }
      }


      transition: all 0.2s ease-in-out;
      &:hover {

        .latest-posts__more {
          color: $special_color_hover;
        }
      }
    }
  }


  .blog__button {
    margin-top: 23px;
    width: 106px;
    height: 34px;
    border-radius: 3px;
    background-color: $special_background_color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $special_color;

    h5 {
      color: $special_color;
      .simple-arrow {
        font-size: 5px;
        padding: 0 8px;
      }
    }

    &, h5, .simple-arrow {
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      background-color: $special_color;
      color: $special_background_color;
      h5 {
        color: $special_background_color;
      }
    }
  }
}