@import "../../styles/colors.scss";

.about-page {
  gap: 40px;
  .about__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    .content__list {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .list__item {
        position: relative;
        padding-left: 16px;
        &:before {
          content: "•";
          color: $color;
          font-size: 24px;
          position: absolute;
          left: 0;
         top: -6px;
        }
      }
    }
  }
}