@import "../../styles/colors";

.blog {
  display: flex;
  flex-direction: column;
  gap: 40px;
  .blog__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .pagination {
    display: flex;
    flex-direction: row;
    gap: 5px;
    .pagination_button {
      width: 30px;
      height: 30px;
      border-radius: 4px;
      background: $special_background_color;
      display: flex;
      justify-content: center;
      align-items: center;
      .number {
        color: $color;
      }
      .arrow_button {
        color: $color;
      }

      &:hover {
        background: $light_color_hover;
      }
    }
    .active {
      background: $special_color;
      .number {
        color: $special_background_color;
      }

      &:hover {
        background: $special_color_hover;
      }
    }
  }
}
