@import "../../styles/colors";

.blog {
  display: flex;
  flex-direction: column;
  gap: 40px;
  .blog__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .pagination {
    display: flex;
    flex-direction: row;
    gap: 5px;
    .pagination_button {
      width: 30px;
      height: 30px;
      border-radius: 4px;
      background: $special_background_color;
      .number {
        color: $color;
      }
    }
  }
}
