@import "../../styles/colors";

.latest-posts {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 25px;

  .blog__button {
    margin-top: 23px;
    width: 106px;
    height: 34px;
    border-radius: 3px;
  }
}